body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#btn{
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    


}